

.gradle/
build/
/*/build/
/build/
captured/

*.iml
.idea/
*.ipr
*.iws



local.properties
.navigation/

captures/
output.apk
*.keystore
*.jks

.DS_Store
Thumbs.db
*.bak
*.swp

.externalNativeBuild/
.cxx/
ndkBuild/

.cornerstone/
DerivedData/

*.log
/lint/reports/
/lint/results.xml